body{
    width: 100% !important;
    height: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
}

hr {
    width: 100% !important;
}

.left-col {
    margin: 0 !important;
    padding: 0 !important;
    background-color: #EFC81A;
    background-image: url("./../../../../public/img/Mask-Group.webp");
    background-size: cover;
    background-position: center;
}

h1 {
    color: #EFC81A;
}